<footer>
    <p>Email: <a href="mailto:info@bmismosque.com">info@bmismosque.com</a></p>
    <div class="social-media">
        <a href="https://www.facebook.com/bmisvan" target="_blank"><img src="img/facebook.png" alt="BMIS Facebook" /> @bmisvan </a>
        <a href="https://www.youtube.com/@BaitulMukarramIslamicSocie-r8n" target="_blank"><img src="img/youtube.png" alt="BMIS Youtube" /> @BaitulMukarramIslamicSocie-r8n </a>
    </div>
    <p>&copy; 2025 Baitul Mukarram Islamic Society. All rights reserved.</p>
</footer>